// font
@import url(../base/fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(24, 24, 34);
}

//Home Section

.container {
  padding: 0 56px;
}

.container-fluid {
  margin: 0 16px;
  background-color: white;
}

.container2 {
  padding: 0 40px;
}

#introduction {
  width: 100%;
  height: auto;

  .header {
    display: block;
    header {
      padding-top: 63px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      nav {
        display: flex;
        gap: 32px;

        .header-button {
          padding: 16px 32px;
          background-color: #fff;
          font-family: "DM Sans", serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;
          color: #000;
          border-radius: 30px;
          display: flex;
          gap: 8px;
          transition: 0.5s all;
          &:hover {
            background-image: linear-gradient(
              to right,
              rgb(119, 161, 21),
              rgb(255, 187, 0)
            );
            color: #fff;
            transition: 0.5s all;
            transform: scale(1.2);
          }
        }

        ul {
          display: flex;
          gap: 32px;
          align-items: center;

          li {
            font-family: "DM Sans", serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 23px;

            a {
              font-size: 18px;
              color: #fff;
              font-weight: 400;
              transition: 0.5s;
              &:hover {
                color: #f46a0c;
                transition: 0.5s;
              }
            }
          }
        }
      }

      #subMenu {
        cursor: pointer;
        display: none;
      }
    }
  }

  .altMenu {
    width: 100%;
    display: none;
    background: #fff;
    margin-top: 20px;
    border-radius: 16px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 9px;
    z-index: 5;
    margin: 0;
    width: 96%;
    height: 100vh;
    .mobile-nav {
      display: flex;
      justify-content: space-between;
      .mobile-logo {
        width: 48px;
        height: 48px;
        background: #181822;
        border-radius: 8px;
        margin-bottom: 20px;
        padding: 10px 14px;
      }
      .mobile-close {
        button {
          background: #fff;
          border: none;
        }
      }
    }
    ul {
      li {
        &:last-child {
          margin-bottom: 32px;
        }
        margin-bottom: 12px;
        a {
          color: #181822;
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 31px;
        }
      }
    }
    .header-button {
      width: 160px;
      height: 50px;
      margin: 10px 0;
      padding: 8px 22px;
      background-color: #292d32;
      color: #fff;
      border-radius: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 8px;
      align-items: center;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
    }
    .social {
      margin-top: 20px;
      display: flex;
      gap: 16px;
      div {
        width: 40px;
        height: 40px;
        padding: 10px;
        i {
          color: #181822;
          font-weight: 900;
        }
      }
    }
    .contact {
      margin-top: 15px;
      div {
        &:not(:last-child) {
          margin-bottom: 16px;
        }
        a {
          margin-bottom: 16px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          color: #1a1a26;
        }
      }
      .contact-address {
        padding-bottom: 29px;
        p {
          color: #1a1a26;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
        }
      }
      .contact-number {
        display: flex;
        flex-direction: column;
        div {
          display: flex;
          gap: 7px;
        }
      }
    }
  }

  //Introduction-content

  .introduction-content {
    margin-top: 79px;

    .list-services {
      p {
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        opacity: 0.5;
        color: #fff;
      }
    }

    h1 {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 72px;
      line-height: 108px;
      color: #ffffff;
    }

    .card-services {
      margin-top: 85px;
      display: flex;
      column-gap: 20px;

      .cards {
        display: flex;
        width: 50%;
        gap: 20px;

        a {
          width: 100%;
          &:hover {
            .card-programming,
            .card-design,
            .card-ux-ui,
            .card-data {
              transform: rotate(0deg);
              top: 0;
              transition: 0.5s all;
            }
          }

          .card {
            height: 150px;
            color: #fff;
            font-family: "Poppins", sans-serif;
            font-size: 24px;
            font-weight: 500;
            padding-top: 24px;
            padding-left: 24px;
            cursor: pointer;
          }

          .card-programming {
            background-color: #0dc6ff;
            position: relative;
            transform: rotate(-8deg);
            z-index: -1;
            top: 33px;
            transition: 0.5s all;
            .union {
              position: absolute;
              bottom: -33px;
              right: -7%;
              z-index: -1;
              display: none;
            }
          }

          .card-design {
            background-color: #4ad69c;
            position: relative;
            transform: rotate(-8deg);
            z-index: -1;
            top: 33px;
            transition: 0.5s all;
          }

          .card-ux-ui {
            background-color: #f8bc61;
            position: relative;
            transform: rotate(-8deg);
            z-index: -1;
            top: 33px;
            transition: 0.5s all;
          }

          .card-data {
            background-color: #574c95;
            color: #fff;
            position: relative;
            transform: rotate(-8deg);
            z-index: -1;
            top: 33px;
            transition: 0.5s all;
          }

          .onion {
            position: absolute;
            bottom: 15px;
            right: 0;
            z-index: -1;
            transform: rotate(90deg);
            left: 34px;
          }
        }
      }
    }
  }
}

#about {
  padding-top: 72px;
  .about-text {
    display: flex;
    align-items: center;
    gap: 12px;
    .brand-logo-img {
      width: 40px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      color: #181822;
    }
  }
  .about-main {
    padding-top: 60px;
    display: flex;
    gap: 131px;
    align-items: center;
    .about-content {
      padding-top: 40px;
      h1 {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #000;
        margin-bottom: 16px;
      }
      p {
        font-family: "Poppins";
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 48px;
      }
      h2 {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #000;
        margin-bottom: 16px;
      }
    }
  }
}

#teacher {
  margin-left: 40px;
  margin-right: 38px;
  padding-bottom: 56px;
  margin-top: 72px;
  .train-title {
    display: flex;
    margin-bottom: 32px;
    align-items: center;
    .logo-trainer {
      width: 40px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      margin-left: 12px;
    }
  }
  .trainers-img {
    .parent {
      display: flex;
      column-gap: 20px;
      .trainerSwiper {
        transition: 0.5s;
        .event-img {
          height: 300px;
          width: 205px;
          cursor: pointer;
          img {
            width: 100%;
            object-fit: cover;
            border-radius: 12px;
          }
          &:hover {
            .trainer-info {
              opacity: 1;
              visibility: visible;
              transition: 0.5s;
            }
            .fadeInUp {
              animation: fadeInUp 1s ease backwards;
            }
          }
          .trainer-info {
            opacity: none;
            visibility: hidden;
            transition: 0.5s;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 205px;
            transform: translateY(-80px);
            margin-left: -20px;
            .trainer-name {
              h2 {
                text-align: start;
                color: #fff;
                font-family: "Poppins";
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
              }
            }
            .position {
              display: flex;
              align-items: center;
              width: 205px;
              p {
                color: #fff;
                font-family: "Poppins";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                width: 150px;
                margin-left: 35px;
              }
              .social {
                width: 24px;
                margin-right: 10px;
                height: 22.93px;
                transform: translateY(-12px);
                cursor: pointer;
                a {
                  img {
                    border-radius: 0;
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }

      .event-bcg-img {
        height: 300px;
        background: #181822;
        border-radius: 12px;
        position: relative;
        h3 {
          margin-top: 134px;
          color: #fff;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 700;
          font-size: 23px;
          text-align: center;
        }
        .frame {
          width: 128px;
          height: 90px;
          top: 0px;
          left: 61px;
          position: absolute;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .submit {
          margin-top: 0;
          display: flex;
          justify-content: center;
          a {
            display: flex;
            align-items: center;
            padding: 12px 32px;
            background: #fff;
            border-radius: 50px;
            color: #000;
            cursor: pointer;
            margin-top: 20px;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            img {
              width: 20px;
              height: 20px;
              margin-left: 6px;
            }
          }
        }
      }
    }
  }
}

#our-partners {
  display: flex;
  justify-content: space-between;

  .card-partner {
    width: 200px;
    height: 42px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#tab {
  margin-top: 123px;
  .title-program {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
    .logo-prog {
      width: 40px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      color: #181822;
    }
  }
  .tab-content {
    margin-top: 48px;
  }

  .nav-tabs {
    display: flex;
    column-gap: 75px;
  }

  .nav-tabs li {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #181822;
    padding: 0;
  }

  .tab {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #181822;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    opacity: 0.5;
  }

  .tab.is-active {
    opacity: 1;
    border-bottom: 2px solid #f8bc61;
  }

  .tab-panel {
    display: none;

    .programming {
      display: flex;
      justify-content: space-between;

      .description {
        padding-right: 132px;

        p {
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 27px;
        }

        .what-is-service {
          margin-bottom: 56px;

          h3 {
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-size: 20px;
            color: #000000;
            padding-bottom: 16px;
          }
        }

        .service-content {
          margin-bottom: 40px;
          display: none;
          h3 {
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: #000000;
            padding-bottom: 16px;
          }

          .detail {
            padding-top: 42px;
          }
        }

        .buttons {
          display: flex;
          gap: 24px;
          flex-direction: row-reverse;
          justify-content: flex-end;

          .apply {
            padding: 16px 32px;
            background-color: #fe6c3b;
            font-family: "DM Sans", serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            color: #fff;
            border-radius: 30px;
            display: flex;
            gap: 8px;
            transition: 0.5s all;
            &:hover {
              background-image: linear-gradient(
                to right,
                rgb(119, 161, 21),
                rgb(255, 187, 0)
              );
              transition: 0.5s all;
              transform: scale(1.2);
            }
          }

          #more {
            background-color: transparent;
            padding: 16px 0;
            font-weight: 400;
            font-size: 16px;
            font-family: "DM Sans";
            line-height: 21px;
            color: #000000;
            cursor: pointer;
          }
        }
      }

      .video {
        .video-border {
          width: 317px;
          height: 480px;
          border-radius: 12px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .author-video {
          margin-top: 25px;

          .author-name {
            font-family: "Josefin Sans", sans-serif;
            padding-top: 8px;
          }

          .author-prof {
            font-family: "Poppins", sans-serif;
            padding-top: 8px;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            color: #000000;
          }
        }
      }
    }
  }

  .tab-panel.is-active {
    display: block;
  }
}

//Students Section

#students {
  width: 100%;
  padding: 72px 16px;
  background-image: url("../img/Group 1 (1).png");
  background-position: right;
  height: auto;
  .comments {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
    .logo-comments {
      width: 40px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    span {
      color: #fff;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      margin-left: 12px;
    }
  }

  .center-flex {
    align-items: center;
  }

  .student-box {
    border-radius: 12px;

    .student {
      background-color: #fff;
      display: flex;
      padding: 8px;
      align-items: center;
      border-radius: 12px;

      .student-img {
        width: 245px;
        height: 100%;
        border-radius: 12px;

        .primary {
          width: 245px;
          height: 100%;
        }
        .secondary {
          display: none;
          width: 245px;
          height: 100%;
        }
      }

      .student-info {
        width: 100%;
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        text-align: left;

        .student-info-description {
          font-family: "Poppins", sans-serif;
          font-size: 18px;
          font-weight: 400;
          padding-bottom: 24px;
        }

        .student-name {
          font-family: "Josefin Sans", sans-serif;
          font-size: 24px;
          font-weight: 400;
          padding-bottom: 8px;
        }

        .student-info-profile {
          font-family: "Poppins", sans-serif;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}

//Contact-Section

#contact {
  .contact-box {
    padding-top: 72px;
    display: flex;
    justify-content: space-around;
    column-gap: 169px;
    .contact-address {
      h2 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 56px;
        color: #00425a;
        padding-bottom: 56px;

        span {
          color: #fe6c3b;
        }
      }

      p {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #1a1a26;
      }

      .contact-info {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #00425a;
        opacity: 0.5;
        padding-bottom: 12px;
      }

      .contact-number {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        padding-bottom: 56px;
        div {
          display: flex;
          align-items: center;
          gap: 7px;
          i {
            &:first-child {
              font-size: 20px;
              font-weight: 900;
            }
            &:last-child {
              font-size: 18px;
            }
          }
          a {
            color: #1a1a26;
            font-size: 24px;
          }
        }
      }

      .contact-email {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        padding-bottom: 56px;
        .mail {
          display: flex;
          align-items: center;
          gap: 7px;
          i {
            font-size: 18px;
          }
        }
        a {
          font-size: 24px;
          color: #1a1a26;
        }
      }
      .location {
        display: flex;
        align-items: center;
        gap: 7px;
      }
      a {
        font-size: 24px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        color: #1a1a26;
      }
    }

    .contact-form {
      position: relative;
      .form {
        display: flex;
        flex-direction: column;
        background-color: #181822;
        padding: 56px 32px;
        color: #fff;
        row-gap: 24px;
        border-radius: 12px;
        label {
          font-family: "Poppins", sans-serif;
          font-size: 16px;
        }
        input {
          width: 366px;
          height: 48px;
          padding: 16px 0 16px 24px;
          outline: none;
          font-size: 14px;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
        }

        textarea {
          width: 366px;
          height: 96px;
          padding: 16px 0 0 24px;
          font-size: 14px;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
          outline: none;
          resize: none;
        }

        .full-Name {
          display: flex;
          flex-direction: column;
          row-gap: 12px;
        }

        .form-contact-number {
          display: flex;
          flex-direction: column;
          row-gap: 12px;
        }

        .appeal {
          display: flex;
          flex-direction: column;
          row-gap: 12px;
        }

        .submit {
          display: flex;
          justify-content: end;
          .submit-inp {
            width: 179px;
            height: 53px;
            border-radius: 50px;
            background-color: #f46a0c;
            border: none;
            color: #fff;
            font-size: 16px;
            font-family: "Poppins", sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
          img {
            margin-left: 5px;
          }
        }
      }
      .sharp-logo {
        position: absolute;
        left: 7px;
        bottom: 49px;
        height: 109px;
        img {
          height: 100%;
        }
      }
    }
  }
}

#news {
  display: flex;
  gap: 12px;
  padding-top: 160px;
  .logo-presentation {
    width: 40px;
    height: 40px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
  }
}

#events {
  margin-top: 40px;
  padding-bottom: 72px;
  .event-img {
    width: 100%;
    height: 332px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }
}

//Footer Section

footer {
  padding-top: 72px;
  padding-bottom: 62px;
  .container {
    padding: 0 56px;
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .social {
        display: flex;
        margin-left: 125px;
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;
          margin-right: 23px;
          width: 32px;
          height: 32px;
          border-radius: 4px;
          cursor: pointer;
          img {
            width: 16px;
            height: 16px;
          }
          i {
            color: #181822;
            font-weight: 900;
          }
        }
      }
      .copyright {
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}

@keyframes fadeInUp {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}
