@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Slowly Signature";
  src: url("../fonts/ArtisanSignature-axgKJ.ttf");
}
